{% import "_macros.html" as macros %}

{% if session %}
    <article class="mt-1" hx-target="this" hx-swap="outerHTML">
            <form>
                <input value="{{ post.title }}" type="text" class="form-control" name="title" />
                <input value="{{ post.content }}" type="text" class="form-control" name="content" />
                
                <div class="grid">
                    <button class="pico-background-jade-500" hx-put="{{ url_for('editPost', post_id=post.uuid) }}">Submit</button>
                    <button class="secondary" hx-get="{{ url_for('showPost', post_id=post.uuid) }}">Cancel</button>
                    <button class="pico-background-red-500 fade-out" hx-confirm="Are you sure?" hx-delete="{{ url_for('deletePost', post_id=post.uuid) }}" hx-swap="outerHTML swap:1s">Delete Post</button>
                </div>
            </form>
    </article>
{% else %}
    {{ macros.signInBlock() }}
{% endif %}
