@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

:root {
    --pico-font-family-sans-serif: 'Permanent Marker', system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
}

body {
    font-family: 'Edu AU VIC WA NT Guides', 'Indie Flower', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Indie Flower', cursive;
}

h1,
h2 {
    font-size: xx-large;
}

.post-title,
header {
    font-family: 'Permanent Marker', 'Indie Flower', cursive;
    font-size: x-large;
}

.post-content {
    font-family: 'Edu AU VIC WA NT Guides', cursive;
    font-size: medium;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centre {
    justify-content: center;
    align-items: center;
}

.centre-h {
    justify-content: center;
}

.centre-v {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.m-1 {
    margin: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.children-mb-1>* {
    margin-bottom: 1rem;
}

.fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* https://css.gg/icon/close */

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px;
}

.gg-close::after {
    transform: rotate(-45deg);
}
